@import url('base.css');

.jp-DCRSources {
    min-height: 50px;
    margin-top: 3px;
}
  
[data-jp-debugger='true'].jp-Editor .jp-mod-readOnly {
    background: var(--jp-layout-color2);
    height: 100%;
}
  
.jp-DCRSources-body [data-jp-debugger='true'].jp-Editor {
    height: 100%;
}
  
.jp-DCRSources-body {
    height: 100%;
    overflow-y: auto;
}
  